<section class="card">
  <img src="<%= book.image_url %>" alt="<%= book.title %>">
  <h2><%= book.title %></h2>
  <h3><em><%= book.author %></em></h3>
  <p><%= book.description %></p>
  <h3><%= book.isbn %></h3>
  <h3><em><%= book.bookshelf %></em></h3>
</section>