<h2>Number of Saved Books: <%= books.length %></h2>
<%  books.forEach(book => { %>
    <section class="mycard">
  <img src=" <%= book.image_url %> " alt=" <%= book.title %> " title=" <%= book.title %> ">
  <h2> <%= book.title %> </h2>
  <h3><em> <%= book.author %> </em></h3>
  <p> <%= `${book.description.substring(0, 220)}` %>...</p>
 <a href="/books/<%= book.id %>">Read More</a>
</section>
  <% }) %>