<form method="post" action="/update/<%= book.id %>?_method=put">
<input type="text" name="title" value="<%= book.title %>" placeholder="Update title">
<input type="text" name="isbn" value="<%= book.isbn %>" placeholder="Update ISBN">
<input type="text" name="author" value="<%= book.author %>" placeholder="Update author">
<textarea name="description"  placeholder="Update description" rows="5"><%= book.description %></textarea>
<input type="text" name="image_url" value="<%= book.image_url %>" placeholder="Update image">
<input type="text" name="bookshelf" value="<%= book.bookshelf %>" placeholder="Update bookshelf">
<button type="submit">Update book information</button>
</form>
<form method="POST" action="/update/<%= book.id %>?_method=delete">
  <button type="submit">Remove from database</button>
</form>